.book-preview {
  padding: 40px 20px;
  background: #f9f9f9;
  color: #333;
}

.book-preview h2 {
  text-align: center;
  font-size: 2rem;
  color: #333;
  margin-bottom: 30px;
  font-weight: bold;
}

.book-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Cuatro columnas de igual tamaño */
  gap: 20px; /* Espacio entre los elementos de la cuadrícula */
  padding-left: 10px; /* Espacio en el lado izquierdo */
  padding-right: 10px; /* Espacio en el lado derecho */
  max-width: 1000px; /* Ajusta el ancho máximo del contenedor */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
}

.book-item {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
  width: 180px; /* Ajuste del ancho de los libros */
  transition: transform 0.2s;
}

.book-item:hover {
  transform: scale(1.05); /* Efecto de zoom al pasar el mouse */
}

.book-cover {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.book-title {
  font-size: 1.2rem;
  margin: 10px 0 5px;
  color: black;
}

.book-author {
  color: rgb(11, 22, 223);
  font-size: 0.9rem;
}
